Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2018-04, with the labels that each got.

#690 Explicitly set LC_ALL to C (#689)
  manifests/params.pp
Labels: bug, needs-feedback

#691 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#693 release 8.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#696 Modulesync 1.9.1
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync

#695 Release 8.2.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#699 Add loopback_users parameter (adds ability to allow guest user to login remotely)
  manifests/config.pp
  manifests/init.pp
  manifests/params.pp
  spec/classes/rabbitmq_spec.rb
  templates/rabbitmq.config.erb
Labels: enhancement
