Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2018-09, with the labels that each got.

#722 release 8.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#725 Add docs for config_ranch parameter
  README.md
  manifests/init.pp
Labels: docs

#726 Fix service name in systemd service limits config
  manifests/config.pp
  spec/classes/rabbitmq_spec.rb
Labels: bug
