Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2019-01, with the labels that each got.

#762 Remove trailing whitespace in HISTORY
  CHANGELOG.md
  HISTORY.md
Labels: docs

#760 Release 8.5.0
  .travis.yml
  CHANGELOG.md
  lib/puppet/provider/rabbitmq_cli.rb
  metadata.json
Labels: skip-changelog

#761 modulesync 2.5.1 and drop Puppet4
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  .travis/setup.sh
  Gemfile
  Rakefile
  metadata.json
Labels: backwards-incompatible

#765 Allow offline and online mode for plugins
  lib/puppet/provider/rabbitmq_cli.rb
  lib/puppet/provider/rabbitmq_plugin/rabbitmqplugins.rb
  lib/puppet/type/rabbitmq_plugin.rb
  spec/unit/puppet/provider/rabbitmq_plugin/rabbitmqctl_spec.rb
  spec/unit/puppet/type/rabbitmq_plugin_spec.rb
Labels: enhancement
