Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2020-12, with the labels that each got.

#867 Ensure :autoconvert is initialized before :value for rabbitmq_parameter
  lib/puppet/type/rabbitmq_parameter.rb
  spec/unit/puppet/type/rabbitmq_parameter_spec.rb
Labels: bug

#866 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync

#868 Release 10.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
