Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2020-10, with the labels that each got.

#860 [chore] release 10.1.2
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#679 Add support for multiple LDAP servers
  manifests/init.pp
  spec/classes/rabbitmq_spec.rb
  templates/rabbitmq.config.erb
Labels: enhancement

#861 modulesync 3.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .sync.yml
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/spec_helper.rb
Labels: modulesync

#863 release 10.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#864 modulesync 3.1.0
  .msync.yml
  spec/acceptance/nodesets/archlinux-2-x64.yml
Labels: modulesync
