Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2021-05, with the labels that each got.

#886 Compatibility with camptocamp/systemd 3.x
  manifests/service.pp
  metadata.json
Labels: enhancement

#884 camptocamp/systemd: Allow 3.x
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: enhancement

#880 puppetlabs/stdlib: allow 7.x
  metadata.json
Labels: enhancement

#882 puppet/archive: Allow 5.x
  metadata.json
Labels: enhancement

#879 Release 11.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#878 Drop Puppet 5 support; require 6.1.0 / Drop RedHat 6 support
  metadata.json
Labels: backwards-incompatible
