Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2023-05, with the labels that each got.

#927 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#928 Remove support for Debian 9 and Ubuntu 16.04; Add Debian 10 support
  lib/puppet/provider/rabbitmq_plugin/rabbitmqplugins.rb
  metadata.json
  spec/acceptance/clustering_spec.rb
  spec/unit/puppet/provider/rabbitmq_plugin/rabbitmqctl_spec.rb
Labels: enhancement, backwards-incompatible

#931 Remove deprecated `Stdlib::Compat`
  manifests/install/rabbitmqadmin.pp
  metadata.json
Labels: enhancement

#932 Support FreeBSD 12 and 13
  metadata.json
  spec/classes/rabbitmq_spec.rb
Labels: enhancement

#933 BREAKING: Drop official Archlinux support
  metadata.json
  spec/classes/rabbitmq_spec.rb
Labels: backwards-incompatible

#934 Release 13.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
