Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2024-06, with the labels that each got.

#1005 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/service.pp
  spec/classes/rabbitmq_spec.rb
Labels: modulesync

#1009 Add support for FreeBSD 14
  metadata.json
Labels: enhancement

#1010 Add support for Debian 11
  data/family/Debian.yaml
  metadata.json
  spec/classes/rabbitmq_spec.rb
Labels: enhancement

#1011 Release 13.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
