Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2024-12, with the labels that each got.

#1031 Release 14.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1034 Add `enable_centos_release` parameter
  REFERENCE.md
  data/os/CentOS.yaml
  manifests/init.pp
  spec/classes/rabbitmq_spec.rb
Labels: enhancement, skip-changelog

#1035 Release 14.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1036 puppet/systemd: allow 8.x
  metadata.json
Labels: enhancement

#1030 Add quorum queue auto-reconciliation parameter support
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/rabbitmq_spec.rb
  templates/rabbitmq.config.epp
Labels: enhancement

#1037 Release 14.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
