Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2024-09, with the labels that each got.

#1015 Add support for Ubuntu 20 and 22
  metadata.json
Labels: enhancement

#1013 Add support for cowboy_opts config in rabbitmq.config
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/rabbitmq_spec.rb
  templates/rabbitmq.config.epp
Labels: enhancement

#1019 Convert `queue-version` to integer
  lib/puppet/type/rabbitmq_policy.rb
  spec/unit/puppet/type/rabbitmq_policy_spec.rb
Labels: bug

#1016 Release 13.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#1014 Switch to string vs. symbols for facts in spec tests
  .sync.yml
  spec/classes/rabbitmq_spec.rb
  spec/spec_helper.rb
Labels: skip-changelog

#1020 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync
