Repository voxpupuli/puppet-rabbitmq, pull requests merged in 2024-05, with the labels that each got.

#980 metadata.json: Fix author
  metadata.json
Labels: skip-changelog

#915 modulesync 7.5.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile
  Gemfile
  Rakefile
  lib/facter/rabbitmq_nodename.rb
  lib/puppet/type/rabbitmq_parameter.rb
  spec/classes/rabbitmq_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/unit/facter/util/fact_rabbitmq_plugins_dirs_spec.rb
  spec/unit/puppet/provider/rabbitmq_user_permissions/rabbitmqctl_spec.rb
  spec/unit/puppet/type/rabbitmq_parameter_spec.rb
Labels: modulesync

#981 Remove leftovers from Linux systems without systemd
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/rabbitmq_spec.rb
  templates/default.epp
Labels: enhancement

#982 systemd: migrate from service_limits->manage_dropin
  manifests/config.pp
  metadata.json
  spec/classes/rabbitmq_spec.rb
Labels: enhancement

#979 Release 13.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#983 CentOS7: default to EPEL7 as source
  .fixtures.yml
  README.md
  manifests/init.pp
  spec/acceptance/class_spec.rb
  spec/acceptance/clustering_spec.rb
  spec/acceptance/delete_guest_user_spec.rb
  spec/acceptance/parameter_spec.rb
  spec/acceptance/policy_spec.rb
  spec/acceptance/queue_spec.rb
  spec/acceptance/rabbitmqadmin_spec.rb
  spec/acceptance/user_spec.rb
  spec/acceptance/vhost_spec.rb
  spec/spec_helper_acceptance.rb
Labels: bug

#987 docs: update readme badges
  README.md
Labels: docs

#985 metadata.json: re-add Puppet 8 support
  lib/puppet/provider/rabbitmq_cluster/rabbitmqctl.rb
  metadata.json
  spec/acceptance/clustering_spec.rb
  templates/rabbitmqadmin.conf.epp
Labels: bug

#989 Release 13.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#990 Use ensure_packages from stdlib
  manifests/install/rabbitmqadmin.pp
Labels: bug

#993 Handle rabbitmq.config when cluster_nodes is empty
  templates/rabbitmq.config.epp
Labels: bug

#997 Add require_epel parameter, defaulting to `true`
  README.md
  REFERENCE.md
  manifests/init.pp
Labels: enhancement

#999 Update rubocop config
  .rubocop.yml
Labels: skip-changelog

#991 Add support for policy definition consumer-timeout
  lib/puppet/type/rabbitmq_policy.rb
  spec/unit/puppet/type/rabbitmq_policy_spec.rb
Labels: enhancement

#1001 require puppet/systemd >= 6.0.0
  metadata.json
Labels: bug, backwards-incompatible

#1003 Release 13.5.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
